.complete {
  text-decoration: line-through;
  color: #92908C;
}

.icon.tasks {
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  margin-right: 0.5rem;
  position: relative;
  top: -3px;
  float: left;
}

.task-list p {
  margin-bottom: 1.5rem;
}